{{ with .Site.Params }}
	$primaryColor: {{ .primaryColor }};
	$secondaryColor: {{ .secondaryColor }};
        $tertiaryColor: {{ .tertiaryColor }}; 
        $quaternaryColor: {{ .quaternaryColor }};
        $quinaryColor: {{ .quinaryColor }};
{{ end }}

@import '../bulma/bulma.sass';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&family=Reggae+One&family=Yanone+Kaffeesatz:wght@300&display=swap');

body {
  font-size: 18px;
  font-weight: 800;
  color: $secondaryColor;
  font-family: 'Yanone Kaffeesatz', sans-serif;

  background-color: darken($primaryColor, 5%);

  strong { color: $quaternaryColor; }

  // ***** HEADERS ****
  h1 { font-size: 2.2rem; }
  h2 { font-size: 2.1rem; }
  h3 { font-size: 2rem; }
  h4 { font-size: 1.9rem; }
  h5 { font-size: 1.8rem; }
  h6 { font-size: 1.7rem; }

  // ***** NAVBAR *****
  .navbar {
    background-color: $primaryColor;
    .navbar-brand {
	padding: 0rem;
	margin: 0rem;
		}
    #home-link {
      color: $secondaryColor;
      font-family: 'Reggae One', cursive;
      font-size: 1.8rem;
      figure {
	      max-width: 100%;
	      min-height: 100%;
	      height: auto;
	      object-fit: contain;
	}
    }
    .navbar-item {
	    &:hover {
				background-color: darken($quaternaryColor, 20%);
			}
      font-family: 'Josefin Sans', sans-serif;
      font-size: 1.5rem;
      color: $tertiaryColor;
      .navbar-link {
	      color: $secondaryColor;
	      background-color: $primaryColor;
	      border-radius: 50%;
	      padding: auto;
	      span {
		      border-radius: 100%;
		      background-color: $primaryColor;
				}
			}
      a span {
	background-color: $primaryColor;
        height: 2rem;
        width: 2rem;
      }

      .navbar-dropdown { 
	background-color: $primaryColor;
	.columns {
	background-color: $primaryColor;
				}
	.navbar-item {
		font-size: 0.9rem;
		margin-right: 0.5rem;
		margin-top: 0rem;
        }
      }
    }
    #navMenu {
	    padding: 0rem;
	    margin: 0rem;
	    background-color: $primaryColor;
		}
    .navbar-dropdown, .is-right {
	    background-color: $primaryColor;
		}
    .navbar-burger {
	    color: $secondaryColor;
		}
    .navbar-end {
		}
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Reggae One', cursive;
  }

  .hero-head {
	}

  .hero-body {
		padding: 0rem;
		margin: 0rem;
	  .image {
		  img {
				}
		}
	  .bulma-overlay-mixin {
	  @include overlay(0.1rem);
	  
	  background-color: $primaryColor;
	  border-radius: 0.25em;
	  color: $tertiaryColor;
	  opacity: 0.6;
		}
}

  .card {
	  background-color: darken($primaryColor, 2.5%);
	}

  // ***** HOME *****
  #langhome-main {
    .title {
	    color: $tertiaryColor;
		}
    p {
      font-size: 1.7rem;
      font-weight: 800;
      margin: 1rem;
      padding: 1rem;
      color: lighten($tertiaryColor, 10%);
      background-color: darken($primaryColor, 1.1%);
    }
    button {
	    font-weight: 700;
	    background-color: $secondaryColor;
	    color: $primaryColor;
	    padding: 1rem;
	    margin: 1rem;
	    border: $tertiaryColor;

	    a {
		    color: $primaryColor;
			}
	   }
  }

  // ***** SHOWS *****
  #shows-main {
    .title {
      line-height: 1;
    }
    .subtitle {
    }
    .content {
      box-shadow: 0 8px 6px -6px black;
    }
  }

  // ***** WORKSHOPs *****
  #workshops-main {
    h2 {
      font-size: 2rem;
      text-align: center;
      margin: 2rem;
    }
    p {
      font-size: 1.5rem;
      margin: 0.5rem 10%;
    }
    ul {
      margin: 0.5rem 15%;
      font-size: 1.4rem;
      list-style-type: disc;
    }
  }

  // ***** HAT *****
  #hat-main {
    .card {
      margin: 2rem 1rem;
      h3 {
        color: hsl(204, 86%, 53%);
        font-size: 2rem;
      }
      svg {
        height: 5rem;
        font-size: 1rem;
        margin: 1rem;
      }
      p {
        font-size: 2rem;
      }
    }
  }

  // ***** CONTACT *****
  #contact-main {
    @include until($desktop) {
      margin: 2rem;
    }
    @include from($desktop) {
      margin: 2rem 5rem;
    }
  }

  // ***** FOOTER *****
  footer {
    font-size: 1.5rem;
    margin-top: 2rem;

    .hero {
    background-position: center;
        background-size:  cover;
	    background-repeat:  no-repeat;

	    .hero-head {
		    background-color: $primaryColor;
		    color: $tertiaryColor;
				opacity: 0.6;
			}
			.hero-body {
		    background-color: darken($primaryColor, 5%);
				opacity: 0.6;
	    a {
		    color: $tertiaryColor;
			}
	    a:hover {
	    color: $primaryColor;
				}
			}
	.hero-footer {
				background-color: darken($primaryColor, 10%);
		
			}
  }
		}

  .content {
	  font-size: 1.7rem;
	}
}
