<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}

        {{- $img := resources.Get "imgs/malabares-manuel-1.jpg" -}}
        <div class="hero"><img src="{{ $img.Permalink }}" alt=""></div> 

			<div id="home-main">
        <div class="columns">
          <div class="card">
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <div class="title has-text-centered">
                    Performances
                  </div>
                  <div class="content">
									<p>
                    Circus shows for all ages and humors, rooted on the streets.
									</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <div class="title is-2 has-text-centered">
                    Teaching
                  </div>
                  <div class="content">
									<p>
                    Workshops and classes for all levels on juggling, unicycle, clown, 
                    street theater, balance and comic stunts etc
									</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <div class="title is-2 has-text-centered">
                    Languages
                  </div>
                  <div class="content">
									<p>
                    Shows and workshops in English, Danish, Esperanto, Portuguese,
                    Spanish and in silence as well!
									</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
		</div>
        {{- partial "footer.html" . -}}
    </body>
</html>
