
{{- $img := resources.Get "imgs/contact-img.jpg" -}}
<div class="hero"><img src="{{ $img.Permalink }}" alt=""></div> 
<div class="container" id="contact-main">
{{ range .Params.Form }}
<form action="https://formspree.io/f/xoqyeplo"
		method="POST">
<div class="columns mt-2 is-desktop">
	<div class="column">
		<div class="field">
				<label class="label is-size-4">{{ .name }}</label>
			<div class="control">
				<input class="input" type="text" name="name" placeholder="Text input">
			</div>
		</div>
	</div>

	<div class="column">
		<div class="field">
				<label class="label is-size-4">{{ .email }}</label>
			<div class="control has-icons-left has-icons-right">
				<input class="input is-danger" type="email" name="reply_to" placeholder="Email input" value="hello@">
				<span class="icon is-small is-left">
					<i class="fas fa-envelope"></i>
				</span>
				<span class="icon is-small is-right">
					<i class="fas fa-exclamation-triangle"></i>
				</span>
			</div>
		</div>
	</div>
</div>

	<div class="field">
		<label class="label is-size-4">{{ .subject }}</label>
	  <div class="control">
		<input class="input subject" type="subject" name="subject" placeholder="How can I help you?">
	  </div>
	</div>

	<div class="field">
		<label class="label is-size-4">{{ .message }}</label>
	  <div class="control">
	    <textarea class="textarea" name="message" placeholder="Textarea"></textarea>
	  </div>
	</div>

	<div class="field is-grouped">
	  <div class="control">
			<button class="button is-link" type="submit">{{ .submit }}</button>
	  </div>
	  <div class="control">
			<button class="button is-link is-light">{{ .cancel }}</button>
	  </div>
	</div>
	</form>
	{{ end }}
</div>
