<footer class="mt-6">
  <section
    class="hero is-fullwidth has-text-centered"
    style="background-image: url({{ .Site.Params.FooterBg }})"
  >
    <div class="hero-head">
      {{ if $.Params.FooterTitle }}
      <p class="footer-title is-size-3">{{ $.Params.FooterTitle }}</p>
      <p class="footer-subtitle is-size-2">{{ $.Params.FooterSubtitle }}</p>
      {{ end }} {{ if $.Params.FooterCall }}
      <h2>{{ $.Params.FooterCall }}</h2>
      {{ end }}
    </div>
    <div class="hero-body">
      <div class="tabs is-centered is-boxed">
        <ul>
          {{ range .Site.Menus.main -}}
          <li>
            <a href="{{ .URL | absLangURL}}" class="tabs-item">{{ .Name }}</a>
          </li>
          {{- end }}
        </ul>
      </div>
    </div>
    {{ if $.Params.FooterAddress }}
    <div class="hero-footer">
      <div class="columns has-text-centered is-size-4 is-gapless">
        <div class="column">
          <span>{{ $.Params.FooterAddress }}</span>
        </div>

        {{ if $.Params.FooterAddressL2 }}
        <div class="column">
          <span>{{ $.Params.FooterAddressL2 }}</span>
        </div>
        {{ end }} {{ if $.Params.FooterAddressL3 }}
        <div class="column">
          <span>{{ $.Params.FooterAddressL3 }}</span>
        </div>
        {{ end }} {{ if $.Params.FooterAddressL4 }}
        <div class="column">
          <span>{{ $.Params.FooterAddressL4 }}</span>
        </div>
        {{ end }} {{ if $.Params.Copyrights }}
        <div class="column">
          <span>{{ $.Params.Copyrights }}</span>
        </div>
        {{ end }}
      </div>
    </div>
    {{ end }}
  </section>
  {{ if not $.Params.FooterTitle }}
  <section class="section">
    <div class="container has-text-centered">
      <div class="columns is-centered">
        <p class="mx-5">Cirkus</p>
        <p class="mx-5">A hugo theme by lsrdg</p>
        <p class="mx-5">MIT. -2021.2021.</p>
      </div>
    </div>
  </section>
  {{ end }}
</footer>
