<section class="hero">
  <div class="hero-head">
    <nav
      class="navbar is-expanded is-fullwidth"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="container is-fullhd p-1">
        <div class="navbar-brand">
          <a id="home-link" class="navbar-item nav-home" href="/">
            {{ with .Site.Params.Logo }} {{- $logo := resources.Get . -}}
            <figure class="image is-128x128">
              <img src="{{ $logo.RelPermalink }}" alt="" />
            </figure>
            {{ else }} {{ .Site.Title }} {{ end }}
          </a>

          <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navMenu"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navMenu" class="navbar-menu">
          <div class="navbar-end">
            {{ range .Site.Menus.main -}}
            <a class="navbar-item" href="{{ .URL | absLangURL }}"
              >{{ .Name }}
            </a>
            {{- end }}
            <div class="navbar-item has-dropdown is-hoverable">
              {{ $lang := "globe" }}
              <a class="navbar-link is-arrowless is-hidden-mobile"
                ><span>{{ partial "fontawesome.html" $lang }}</span></a
              >

              <div class="navbar-dropdown is-right">
                <div class="columns">
                  {{ range .Translations }}
                  <div class="column">
                    <a
                      class="navbar-item pr-0 is-size-5"
                      href="{{ .Permalink }}"
                    >
                      {{ .Language.LanguageName }}
                    </a>
                  </div>
                  {{ end }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="hero-body is-flex-direction-row is-flex">
    <div class="container is-max-desktop">
      {{ with .Params.Hero }} {{- $img := resources.Get . -}}

      <figure class="image bulma-overlay-mixin-parent">
        <img src="{{ $img.Permalink }}" alt="" />
        {{ if $.Params.Htext }}
        <div class="bulma-overlay-mixin pl-5 pt-3 mt-0">
          <div
            class="over-text columns is-vcentered is-flex-direction-column is-align-items-baseline"
          >
            <div class="column is-4">
              <p class="htext is-size-5-mobile is-size-1-desktop">
                {{ $.Params.Htext }}
              </p>
            </div>
            <div class="column is-4">
              <p class="htext2 is-size-6-mobile is-size-2-desktop">
                {{ $.Params.Htext2 }}
              </p>
            </div>
          </div>
        </div>
      </figure>
      {{ end }} {{ else }} {{- $img := resources.Get "imgs/hero-placeholder.png"
      -}}
      <div class="hero"><img src="{{ $img.Permalink }}" alt="" /></div>
      {{ end }}
    </div>
  </div>
</section>
