<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ .Title }} - {{ .Site.Title }}</title>

  {{ $js := resources.Get "js/custom.js" }}
  <script src="{{ $js.Permalink }}"></script>

  {{ $styles := resources.Get "sass/styles.scss" }} {{ $style := $styles |
  resources.ExecuteAsTemplate "main.scss" . | resources.ToCSS (dict "outputStyle" "compressed") | fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" />
</head>
