<sections id="hat-main">
  <h1 class="is-size-2 has-text-centered">{{ .Params.Title }}</h1>
  <main class="is-fluid">
    <div class="container">
      <p class="is-size-3 has-text-centered">{{ .Params.Subtitle }}</p>
      <div class="columns mr-0">
        {{ range .Params.Cards }}
        <div class="column card has-text-centered">
          <h3>{{ .title }}</h3>
          {{ if .icon }}
          <p>{{ partial "fontawesome.html" .icon }}</p>
          {{ end }} {{ if .link }}
          <p><a href="{{ .link }}">{{ .linkContent }}</a></p>
          {{ end }} {{ if .mpNum }}
          <p>{{ .mpNum }}</p>
          {{ end }}
        </div>
        {{ end }}
      </div>
    </div>
  </main>
</sections>
