<section id="shows-main">
  <div class="container">
    <h1 class="is-size-2 has-text-centered">{{ .Params.Title }}</h1>
<div class="columns is-tablet is-vcentered cards mt-3 mr-0">
{{ range .Params.Cards -}}
	<div class="column card">
		<div class="columns is-mobile">
			
			<div class="column is-one-third">
				<figure class="image ml-4 is-128x128">

						{{ with .img }}
							<img src="{{ . | absURL }}" alt="">
						{{ end }}
				
				</figure>
			</div>

			<div class="colums is-two-thirds mt-5 mx-5 pl-4 is-mobile is-gapless">
			<p class="title is-2 has-text-centered">{{ .title }}</p>
			<p class="subtitle is-3 has-text-centered">{{ .subtitle }}</p>
			</div>

		</div>

			<div class="content is-size-4 has-text-centered i-">
				{{ .text }}
			</div>
	</div>
{{ end }}
</div>
	  <iframe width="0" height="0" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

		<iframe width="100%" height="315" src="https://www.youtube-nocookie.com/embed/7mnVsznSonU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</section>
