<sections id="workshops-main">
	<h1 class="is-size-2 has-text-centered">{{ .Params.Title }}</h1>
		<main class="is-fluid">
			<div class="container">
				{{ .Content }}
			</div>
		</main>
</sections>
