{{ define "main" }} 

<section id="langhome-main">
  <div class="columns mr-0 ml-0 mt-0">
    {{ range .Params.Services }}
    <div class="column">
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <div class="title is-3 has-text-centered">
                <h2>{{ .name }}</h2>
              </div>
              <div class="content">
                <p>{{ .text | safeHTML }}</p>

                {{ if .text2 }}
			<p>{{ .text2 | safeHTML }}</p>
                {{ end }}

              </div>
              {{ if .buttonText }}
              <div class="buttons has-addons is-centered">
                <button class="button is-rounded is-centered">
                  <a class="is-vcentered" href="{{ .url | absLangURL}}">
                    {{ .buttonText }}
                  </a>
                </button>
              </div>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</section>

{{ end }}
